<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault										"access 1 year"

# CSS
	ExpiresByType text/css								"access 1 year"

# Data interchange
	ExpiresByType application/atom+xml					"access 1 hour"
	ExpiresByType application/rdf+xml					"access 1 hour"
	ExpiresByType application/rss+xml					"access 1 hour"

	ExpiresByType application/json						"access 0 seconds"
	ExpiresByType application/ld+json					"access 0 seconds"
	ExpiresByType application/schema+json				"access 0 seconds"
	ExpiresByType application/vnd.geo+json				"access 0 seconds"
	ExpiresByType application/xml						"access 0 seconds"
	ExpiresByType text/xml								"access 0 seconds"

# Favicon (cannot be renamed!) and cursor images
	ExpiresByType image/vnd.microsoft.icon				"access 1 week"
	ExpiresByType image/x-icon							"access 1 week"

# HTML - 3600 = 1h oder Null
	ExpiresByType text/html								"Null"

# JavaScript
	ExpiresByType application/javascript				"access 1 year"
	ExpiresByType application/x-javascript				"access 1 year"
	ExpiresByType text/javascript						"access 1 year"

# Manifest files
	ExpiresByType application/manifest+json				"access 1 week"
	ExpiresByType application/x-web-app-manifest+json	"access 0 seconds"
	ExpiresByType text/cache-manifest					"access 0 seconds"

# Media files
	ExpiresByType audio/ogg								"access 1 year"
	ExpiresByType image/bmp								"access 1 year"
	ExpiresByType image/gif								"access 1 year"
	ExpiresByType image/jpg							    "access 1 year"
	ExpiresByType image/jpeg							"access 1 year"
	ExpiresByType image/png								"access 1 year"
	ExpiresByType image/svg+xml							"access 1 year"
	ExpiresByType image/webp							"access 1 year"
	ExpiresByType video/mp4								"access 1 year"
	ExpiresByType video/ogg								"access 1 year"
	ExpiresByType video/webm							"access 1 year"

# Web fonts
	ExpiresByType application/vnd.ms-fontobject         "access 1 year"
	ExpiresByType application/x-font-ttf                "access 1 year"
	ExpiresByType application/x-font-opentype           "access 1 year"
	ExpiresByType application/x-font-woff               "access 1 year"
	ExpiresByType application/x-font-woff2              "access 1 year"
	ExpiresByType application/font-woff                 "access 1 year"
	ExpiresByType application/font-woff2                "access 1 year"
	ExpiresByType application/font-sfnt                 "access 1 year"
	ExpiresByType font/ttf                              "access 1 year"
	ExpiresByType font/otf                              "access 1 year"
	ExpiresByType font/woff                             "access 1 year"
	ExpiresByType font/woff2                            "access 1 year"
	ExpiresByType font/eot								"access 1 year"
	ExpiresByType font/opentype							"access 1 year"
	ExpiresByType application/font-woff					"access 1 year"
	ExpiresByType application/x-font-woff				"access 1 year"
	ExpiresByType font/woff								"access 1 year"

# Other
	ExpiresByType text/x-cross-domain-policy			"access 1 week"
</IfModule>

<ifModule mod_gzip.c>
     mod_gzip_on Yes
     mod_gzip_dechunk Yes
     mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
     mod_gzip_item_include handler ^cgi-script$
     mod_gzip_item_include mime ^text/.*
     mod_gzip_item_include mime ^application/x-javascript.*
     mod_gzip_item_exclude mime ^image/.*
     mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>
<IfModule mod_deflate.c>
    AddType image/svg+xml .svg

	# Insert filters / compress text, html, javascript, css, xml:
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/vtt
	AddOutputFilterByType DEFLATE text/x-component
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/js
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/x-httpd-php
	AddOutputFilterByType DEFLATE application/x-httpd-fastphp
	AddOutputFilterByType DEFLATE application/atom+xml
	AddOutputFilterByType DEFLATE application/json
	AddOutputFilterByType DEFLATE application/ld+json
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
	AddOutputFilterByType DEFLATE application/x-font-ttf
	AddOutputFilterByType DEFLATE application/font-woff2
	AddOutputFilterByType DEFLATE application/x-font-woff
	AddOutputFilterByType DEFLATE application/x-web-app-manifest+json font/woff
	AddOutputFilterByType DEFLATE font/woff
	AddOutputFilterByType DEFLATE font/opentype
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE image/x-icon

	# Exception: Images
	SetEnvIfNoCase REQUEST_URI \.(?:gif|jpg|jpeg|png|svg)$ no-gzip dont-vary

	# Drop problematic browsers
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

	# Make sure proxies don't deliver the wrong content
	Header append Vary User-Agent env=!dont-vary
</IfModule>

#Alternative caching using Apache's "mod_headers", if it's installed.
#Caching of common files - ENABLED
<IfModule mod_headers.c>
	<FilesMatch "\.(ico|pdf|flv|swf|js|css|gif|png|jpg|jpeg|svg|txt|woff2)$">
		Header set Cache-Control "max-age=31536000, public"
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(js|css|xml|gz)$">
		Header append Vary Accept-Encoding
	</FilesMatch>
</IfModule>

# Set Keep Alive Header
<IfModule mod_headers.c>
	Header set Connection keep-alive
</IfModule>

# If your server don't support ETags deactivate with "None" (and remove header)
<IfModule mod_expires.c>
	<IfModule mod_headers.c>
		Header unset ETag
	</IfModule>
	FileETag None
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch ".(js|css|xml|gz|html|woff|woff2|ttf)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>
