@import 'tailwindcss';

@import "../fonts/Inter-4.1/web/inter.css";
/*@import "../fonts/JetBrainsMono-2.304/webfonts/jetbrains-mono.css";*/

@import "./_flux-base-color.css";
@import "./_flux-accent-color.css";

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.ts';
@source '../../resources/views/livewire/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /*--font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;*/
}
